.homepagescreen {

  h1 a,h2{
    color:#fff;
  }
  h1 {
    font-size: 125px;
    max-height: 250px;
    color: #fff;
    text-transform: uppercase;
  }

  h2{
    font-size: 3em;
    margin-bottom: 20px;
  }
  #sentencerotate span, .subpage-title {
    font-size: 26px;
    font-weight:bold;
    max-height: 200px;
    color:#fff;
  }
  .nd_header__brand {
    filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.5));
    font-size: 98px;
    max-height: 250px;

  }
  .banner-homepage {
    padding: 2em 0;
    text-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
    color:#fff;
    background-size: cover, cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/hero_nice_2000.jpg);
  }

}


#socialhome {
  .page-header {
    border: 0 !important;
  }
}

#global .btn a{
  color: #fff;
}
#manifesto,
#participate,
#rassemblements {
  .page-header {
    border: 0 !important;
  }
  .wrapper {
    .container-fluid {
      background: #fff;
      padding: 30px 45px;
    }
  }
  iframe{
    border:none;
  }
  img.pull-left {
    padding-right: 20px;
    padding-bottom: 20px;
  }

  button a {
   color:#fff;
  }
}

#homepage-map {
  position: relative;
  .homepage-map__button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
  }
}

iframe {
  border:none;
}
.iframe-module{
  iframe{
    width:100%;
  }
}

.page-template-page-ville {
  h1:first-letter {
    box-shadow:
      0 3px 0 -1px $light-blue, /* to indent the green bottom line with the same color as the background */
      0 3px 0 0 $light-blue,  /* to create a bottom 3px high green line */
      inset 0 -1px 0 0 $light-blue; /* to create the top (1px) of the outline */
    border: 0 !important;
  }
  .page-header {
    border: 0 !important;
  }
}

.scroll {
  max-height: 600px;
  overflow: auto;
  border: 1px solid #eee;
  padding: 1em;
}

.participate-action {
  @include make-row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;

  .participate-action__image {
    @extend .col-md-6;

    @media (max-width: $screen-sm-max) {
      display: none;
    }
  }
  .participate-action__content {
    @extend .col-md-6;
  }
}

.action-title {
  color: $light-blue;
  font-size: 18px;
  font-weight: bold;
}

.news-container {
  h3 {
    font-family: Roboto;
  }
  .news-container__rss {
    .nav-links {
      display: none;
    }
    .wprss-feed-meta {
      .feed-source, .feed-date {
        display: block;
      }
    }
  }
  .list-group-item-text {
    a:last-child {
      display: none;
    }
  }
}

.tvdebout-container {
  text-align: center;
  > * {
    text-align: left;
  }
  h3 {
    font-family: Roboto;
  }
  > div {
  display: inline-block;
  vertical-align: top;
  opacity: 1;
  width: 100%;
  height: 100%;
  max-width: 528px;
  padding: 0 1em;
  transition : all 0.3s ease;
  overflow: hidden;
  }
  .hide-live {
  opacity: 0;
  width: 0px;
  height: 0px;
  }
  .live #tvdebout, .replay iframe {
  width: 100%;
    .vjs-big-play-button {
    width: 68px;
    height: 48px;
    line-height: 48px;
    font-size: 3.5em;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 0;
    }
  }
}
