.periscoper {
  position: relative;
  margin-bottom: 30px;
  img {
    @extend .img-circle;
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
  }
  .periscope-on-air {
    position: absolute !important;
    top: 75%;
    left: 50%;
    @include transform(translate(-50%, -50%));
  }
}
