/*
 Theme Name:   Nuitdeboo Child
 Theme URI:    https://github.com/nuitdebout
 Description:  Nuitdebout theme
 Author:       Nuitdebout Team  : https://github.com/nuitdebout/wordpress/network/members - Duke (http://duke.fr) Tom Wersinger - owni.fr Team -  "Mex" "SuperDudu", .... -  Roots Child Theme (https://roots.io/sage/)
 Author URI:   http://nuitdebout.fr
 Template:     nuitdeboo-master
 Version:      1.0.0
 Tags:         responsive-layout, mulisites, accessibility-ready, nuitdebout, occupy
 Text Domain:  sage
*/
