.homepagescreen {

  h1 a,h2{
       color:#fff;
  }
  h1 {

    font-size: 98px;
    max-height: 250px;


  }
  h2{
    font-size: 3em;
    margin-bottom: 40px;
  }
  #sentencerotate span {
    font-size: 28px;
    font-weight:bold;
    max-height: 200px;
    color:#fff;
  }
  .nd_header__brand {
    filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.5));
    font-size: 98px;
    max-height: 250px;

  }
  .banner-homepage {
    padding: 2em 0;
    text-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
    color:#fff;
  }

}

#socialhome {
  .page-header {
    border: 0 !important;
  }
}
#participate h3{
  color: $light-blue;
}

#global .btn a{
  color: #fff;
}
#manifesto,
#participate,
#rassemblements {
  .page-header {
    border: 0 !important;
  }
  .wrapper {
    .container-fluid {
      background: #fff;
      padding: 30px 45px;
    }
  }
  iframe{
    border:none;
  }
  img.pull-left {
    padding-right: 20px;
    padding-bottom: 20px;
  }

  button a {
   color:#fff;
  }
}

.iframe-container{
  margin:20px auto;
}
.free_iframe{
    margin-left: -15px;
    margin-right: -15px;
    iframe{
      border:none;
    }
}

.page-template-page-ville {
  h1:first-letter {
    box-shadow:
      0 3px 0 -1px $light-blue, /* to indent the green bottom line with the same color as the background */
      0 3px 0 0 $light-blue,  /* to create a bottom 3px high green line */
      inset 0 -1px 0 0 $light-blue; /* to create the top (1px) of the outline */
    border: 0 !important;
  }
  .page-header {
    border: 0 !important;
  }
}

.post{
  li {
    list-style-type: none;
    border-bottom: 1px solid $gray-lighter;
    padding: 15px;
  }

  font-size: 16px;
  line-height: 1.7;
}

.scroll {
  max-height: 600px;
  overflow: auto;
  border: 1px solid #eee;
  padding: 1em;
}

