.homepagescreen {
  background-repeat: no-repeat;
  min-height: 650px;
  margin-left: -15px !important;
  margin-right: -15px !important;

  h1 {
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
    filter: drop-shadow( 0px 3px 4px rgba(0,0,0,0.5));
    -webkit-filter: drop-shadow( 0px 3px 4px rgba(0,0,0,0.5));
    font-size: 98px;
    max-height: 400px;

    a{
      color:#fff;

    }
  }

}

#socialhome {
  .page-header {
    border: 0 !important;
  }
}

#manifesto,
#participate {
  .page-header {
    border: 0 !important;
  }
  .wrapper {
    .container-fluid {
      margin-left: -15px;
      margin-right: -15px;
      background: #fff;
      padding: 30px 45px;
    }
  }

  button a {
   color:#fff;
  }
}

.socialonhome {
  margin-right: -15px;
  margin-left: -15px;
  border-bottom: 1px solid #eee;
  .row{
    background:#36474f;
  }
  .socialsquare {
    background: #fff;
    height: 200px;
    min-height: 200px;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;

    text-align: center;

    &.nuitdebout {
      background: $brand-primary;
       border-right: 1px solid #36474f;
      h3 {
        margin: 0 !important;
        padding: 0 !important;
        color: #fff;
        @include vertical-align();

        small {
          display: block;
          color: #fff;
        }
      }
    }

    a {
      color: #ccc;
      @include vertical-align(40%);

      i {
        font-size: 30px !important;
      }

      &.periscope {
        background-color: red;
        -webkit-mask-image: url(/wp-content/themes/nuitdeboo-child/assets/images/ic_periscope.svg);
        mask-image: url(/wp-content/themes/nuitdeboo-child/assets/images/ic_periscope.svg);
      }
      &.facebook {
        color: $social-facebook;
      }
      &.twitter {
        color: $social-twitter;
      }
      &.tumblr {
        color: $social-tumblr;
      }
      &.instagram {
        color: $social-instagram;
      }
      &.youtube {
        color: $social-youtube;
      }
      &.snapchat {
        color: $social-snapchat;
      }
    }
  }
}

.free_iframe{
    margin-left: -15px;
    margin-right: -15px;
    iframe{
      border:none;
    }
}
