#periscope-wall {
  min-height: 480px;
  .periscoper__wrapper {
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    img {
      min-width: 100%;
    }
    .periscope-on-air {
      position: absolute !important;
      bottom: 0;
      left: 0;
    }
  }
}
