.current-actions {
  padding: 0 10px;
  text-indent: 2px;
  background-color: #0ab8d1;
  height: 35px;
  line-height: 35px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;

  a {
    color: #fff;
    white-space: nowrap;
  }
}

.calendar-canvas {
  margin-bottom: 20px;
}

.calendar-canvas > div {
  width: 100%;
  font-size: inherit;
}

.calendar-canvas .ccal li {
  width: 14.2857%;
}

.calendar-canvas .ccal li.calmonth {
    width: 70%;
}

.calendar-canvas .ccal li.calmonth {
    width: 70%;
}

.calendar-canvas .ccal li.calprevmonth,
.calendar-canvas .ccal li.calnextmonth {
  width: 15%;
}

.agenda {

  @include card;

  .agenda__content,
  .agenda__title {
    padding-right: 15px;
    padding-left: 15px;
  }

  .agenda__title {
    @include title-font;
    text-align: center;
  }
  .agenda__form {
    border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
    padding-top: 15px;
  }
  .agenda__events {
    @extend .panel-group;
    margin-bottom: 0;

    .agenda__event {
      @extend .panel;
      @extend .panel-default;
      border-radius: 0;
      box-shadow: none;
      + .agenda__event {
        margin-top: 0;
        border-top: none;
      }
      .agenda__event-heading {
        @extend .panel-heading;
        background-color: transparent;
      }
      .agenda__event-city {
        font-size: 12px;
        color: #777777;
        i {
          margin-right: 3px;
        }
      }
      .agenda__event-title {
        @extend .panel-title;
        font-size: $font-size-base;
        a:last-child {
          color: $link-color;
          &:hover {
            color: $link-hover-color;
          }
        }
      }
      .agenda__event-body {
        @extend .panel-body;
      }
    }
  }
}
