@mixin vertical-align ( $percent: 50% ) {
  position: relative;
  top: $percent;
  -webkit-transform: translateY(-$percent);
  -ms-transform: translateY(-$percent);
  transform: translateY(-$percent);
}

@mixin title-font {
  font-family: "Roboto";
  font-weight: bold;
  &:first-letter {
    box-shadow:
    0 3px 0 -1px $light-blue, /* to indent the green bottom line with the same color as the background */
    0 3px 0 0 $light-blue,  /* to create a bottom 3px high green line */
    inset 0 -1px 0 0 $light-blue; /* to create the top (1px) of the outline */
  }
}

@mixin tag-link {
  /* Rectangle 118: */
  background: white;
  border: 1px solid $gray-lighter;
  border-radius: 16px;
  padding: 0.5em 1em;
  margin-bottom: 10px;
  display: inline-block;

  transition: box-shadow .3s;

  &:focus,
  &:active,
  &:hover {
    background: $link-color;
    border-color: $link-color;
    color: white;
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  &:active {
    box-shadow: none;
  }
}
@mixin tag-link-reverse {
  @include tag-link;

  background: $link-color;
  border: 1px solid $gray-lighter;
  color: white;

  &:focus,
  &:active,
  &:hover {
    background: white;
    border-color: $link-color;
    color:$link-color;
  }
}

@mixin container($max-width: 780px) {
  @include container-fixed;

  width: 100%;
  max-width: $max-width;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}
