.section {

  &:not(.section--container) {
    @include make-row;
  }
  padding: 15px 0;

  &.section--gray {
    background-color: $gray-lighter;
  }

  .section__title {
    @include title-font;
    text-align: center;
    font-size: 45px;
    margin: 0;
    margin-bottom: 20px;
  }

  .section__content {
    @include container;

    font-size: 16px;
    p {
      margin: 0 0 20px;

    }
    p.byline{
        margin: 0;
        font-size:14px;
    }
  }

  .section__content--center {
    text-align: center;
  }

  .section__content--emph {
    font-weight: bold;
  }

  .section__actions-container {
    text-align: center;
    display: flex;
    justify-content: center;

    margin-top: 30px;
  }

  .section__actions-container + .section__content {
    margin-top: 20px;
  }
}


