.snapwidget-widget {
    pointer-events: none;
    border:none; overflow:hidden; width:100%;
}
.home-widget-container, .post {
    ul{
        margin: 0;
        padding: 0em;
        li{
            border-bottom: 2px solid #eee;
            list-style: outside none none;
            padding: 1em 0;
            a{

            }
        }

    }
    .post-date{
      text-align:right;
    }
    .widget_rss {
      ul li {
        border: none;
      }
      .rss-widget-icon{
          display: none;
      }
      .rss-date {
            float: right;
            font-style: italic;
            font-size: .9em;
            color:$heading-color;
      }
    }
}

.flex-widget-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;

  padding-right: 20px;
  padding-left: 20px;
}

.flex-widget {
  display: inline-block;
  min-width: 450px;
  padding: 20px;
  flex: 1;

  .flex-widget__title {
    @include title-font;
    text-align: center;
     color:$heading-color;
     font-weight:bold;
     font-size: 30px;

     a, a:hover, a:active, a:focus {
       color:$heading-color;
     }
  }

  .widget_rss, .widget_fbcard {
    border-radius: 5px;
    padding: 15px;
    height: 100%;

    display: flex;
    justify-content: space-around;
    flex-direction: column;

    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    .widget-thumb{
          min-height:300px;

          background-size: cover !important;
          background-position: center center;
          background-repeat: no-repeat;
    }
    .widget-content h3{

            height: 100px;
            overflow: hidden;
            font-size: 1.4em;
            line-height: 1.3em;
            position: relative;
        &:after{
              content: "";
              height: 90px;
              border: none;
              display: block;
              width: 100%;
              background: -webkit-linear-gradient(top,hsla(0,0%,100%,0),#fff);
              background: -webkit-linear-gradient(270deg,hsla(0,0%,100%,0),#fff);
              background: linear-gradient(180deg,hsla(0,0%,100%,0),#fff);
              position: absolute;
              top: 20px;
        }

    }


  }
}


.widget_categories,
.widget_recent_entries,
.widget_rss {
  margin: 50px 0;
  ul {
    @extend .list-unstyled;
  }
}
