
a:hover,
a:active {
  text-decoration: none;
}

// to always move the footer at the bottom of the page
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrap {
  flex: 1;
}


body.sidebar-primary,
body.page:not(.home) {
  .main,
  .sidebar {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media (max-width: $screen-sm-max) {
    .main {
      padding-bottom: 0;
    }
    .sidebar {
      padding-top: 0;
    }
  }
}

.mg-top0 {
  margin-top: 0;
}
.padded {
  padding-top: 3em;
  padding-bottom: 3em;
}

.padded-top{
  padding-top: 3em;
}
.padded-bottom{
  padding-bottom: 2em;
}

.padded-inside{
  padding-top: 1em;
  padding-bottom: 1em;
}
.padded-small{
  padding-top: 1em;
  padding-bottom: 1em;
}
.padded-left{
    padding: 1em 2em;
        font-weight: bold;
}
.padded-left-search{
  form{
   margin:0;
    padding:0;
  }
  padding: 1em 2em;
    border-left:2px solid $gray-lighter;
  }


.border-grey{
  border-top:1px solid $gray-lighter;
}
.border-grey-bottom{
  border-bottom:1px solid $gray-lighter;
}

.bg-grey {
  background: $gray-lighter;
}
.bg-dark {
  background: $gray-dark;
  color:#fff;
}
iframe{
  overflow:hidden;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
