$font-family-sans-serif: Roboto, sans-serif;

// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$sidebar-md-columns:    4;

// Font-size and line-height
$base-size: 14px;
$base-height: 1.4;

// Colors
$brand-primary:         #36474f;
$light-blue:            #0ab8d1;
$link-color:            $light-blue;
$heading-color:         #494849;
$footer-bg:             #36474f;

// Socials colors
$social-twitter:        #60b1f2;
$social-facebook:       #375697;
$social-bambuser:       #444444;
$social-youtube:        #c00000;
$social-instagram:      #125685;
$social-tumblr:         #36506b;
$social-periscope:      #3e95b1;
$social-snapchat:       #424242;
$social-scoopit:        #93c749;
$social-github:         #444444;

$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         #777777;
$gray-light:   #EBEBEB;
$gray-lighter: #F7F7F7;

$navbar-height: 70px;

$padding-base: 15px;
