$news-card-size: 300px;

.news-card {
  @include card;
  position: relative;

  min-height: $news-card-size/2;
  overflow: hidden;

  @media (max-width: $screen-sm-max) {
    margin: 0 0 10px 0;
  }

  flex: 1 0 $news-card-size;
  @media (max-width: $screen-sm-max) {
    flex: 1 0 100%;
  }

  &:hover, &:active, &:focus {
    color: $gray;
  }

  .news-card__caption {
    padding: 15px;

    background-color: white;
    width: 100%;

    transition: .3s;
  }

  .news-card__content-animated {
    display: none;
  }

  &.news-card--animated {

    .news-card__caption {
      position: absolute;
      bottom: 0;
    }

    .news-card__content {
      display: none;
    }

    .news-card__content-animated {
      display: block;

      position: absolute;
      top: 3*$news-card-size;

      padding: 15px;
      background-color: rgba(0, 0, 0, 0.3);
      height: 100%;
      width: 100%;

      color: $gray-lighter;

      transition: .3s;
    }

    &:hover, &:active, &:focus {
      .news-card__caption {
        transform: translateY(100px);
      }
      .news-card__content-animated {
        transform: translateY(-3*$news-card-size);
      }
    }
  }

  .news-card__thumb {
    width: 100%;
    height: auto
  }
}
