.content-info {
  .social-icons{
    color: #fff;
    font-size: 2em;
  }

  background-color: $footer-bg;

  .foot {
    padding-top: 4em !important;
    padding-bottom: 4em !important;
  }

  h5 {
    font-size: ceil(($font-size-base * 1.15));
    color: #fff;
  }

  .contribute ul li img{
    width:25px;
    height:auto;
  }
}
