.share-btns{
  padding-top: 5px;
   width:100%;
  float: left;
  .wrap{
    display: inline-block;
    margin-right: 13px;
    margin-top: 6px;
    padding-left: 1em;
    padding-top: 0;
    position: relative;
    visibility: initial;
    float: left;
  }
}


.post-loop-item{
    border-bottom:1px solid $gray-lighter;
    .entry-title{
      font-size: 2em;
      padding-top: 20px;

    }
    .entry-meta{
       border-bottom:1px solid $gray-lighter;
       width:100%;
       padding:0px 0 20px;
       float: left;
       margin-bottom:20px;
       time{
         float:right;
         font-size:14px;
       }
       p.author.byline{
         float:left;
       }

    }




    img{
      max-width:100%;
    }
}


body.page-id-480 .post {
    direction: rtl;
}







