.share-btns{
  padding-top: 5px;
   width:100%;
  float: left;
  .wrap{
    display: inline-block;
    margin-right: 13px;
    margin-top: 6px;
    padding-left: 1em;
    padding-top: 0;
    position: relative;
    visibility: initial;
    float: left;
  }
}


.post-loop-item{
    border-bottom:1px solid $gray-lighter;

}


body.page-id-480 .post {
    direction: rtl;
}







