$footer-font-color: #e4f7f7 !default;

.footer {
  background-color: $footer-bg;
  color: $footer-font-color;
  clear: both;

  .footer__main {
    @include make-row();
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    border-bottom: 1px solid $footer-font-color;
  }

  .footer__main,
  .footer__extra-links {
    width: 100%;
    max-width: 1024px;

    margin: auto;
    padding: 30px 0;
  }

  .footer__extra-links {
    padding-left: 15px;
    padding-right: 15px;
  }


  .footer__extra-links .menu-item {
    display: inline-block;
    padding-right: 20px;

    & + .menu-item {
      padding-left: 20px;
      border-left: 1px solid $footer-font-color;
    }
  }

  a {
    color: $footer-font-color;
  }
  a:hover, a:active, a:focus {
    color: white;
    text-decoration: none;
  }
}

.footer-section {

  @include make-md-column(3);
  @include make-xs-column(6);
  flex: 1;

  .footer-section__title {
    color: $footer-font-color;
    font-size: 18px;
    font-weight: bold;
  }

  &.footer-section--link {
    @include make-xs-column(12);
    @include make-md-column(6);
    flex: 2;

    @media (max-width: $screen-xs-max) {
      order: 99;
      flex: 2 0 100%;
    }

    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        width: 50%;
        flex: 1 0 50%;
      }

    }
  }

}
