.navbar-nuitdebout {
  @extend .navbar-default;
  background: white;
  transition: all 0.3s ease;
  &-logo {
    width: 50px;
  }
}

nav ul li {
  float:left;
  diplay:block;
  background: none;
  font-weight: medium;
}

nav ul li a {
  color: #bdbdbd;
  text-transform: uppercase;
  background: none;
}

nav ul li:hover a, nav ul li:active a, nav ul li:focus a, nav ul li.active a,  nav ul li.current_page_item a {
  color: #424242;
  background: none;
}




nav ul li:hover, nav ul li:active, nav ul li:focus, nav ul li.active, nav ul li.current_page_item  {
  background: none;
}


body.logged-in{
  .navbar-nuitdebout {
         &-fixed {
            position: fixed;
            left: 0px;
            top: 30px;
          }

  }

}

.text-right {
    text-align: right;
}

.navbar-brand {
  padding: (($navbar-height - 50) / 2) $navbar-padding-horizontal;
}

.menu-top {
  @extend .navbar-nav;
  > li > a {
    padding: $navbar-padding-vertical $navbar-padding-horizontal;
  }
}
