.navbar-nuitdebout {
  @extend .navbar-default;
  background: white;
  transition: all 0.3s ease;
  &-logo {
    width: 50px;
  }
  &-bloginfo {
    position: relative;
    font-family: 'CommuneB1San31';
    text-transform: uppercase;
    letter-spacing: 1.1px;
    line-height: 1 !important;
    font-size: 32px !important;
    $navbar-space: (($navbar-height - 32px) / 2);
    padding: ($navbar-space + 4px) $navbar-padding-horizontal ($navbar-space - 4px) !important;
    color: #111 !important;
    &:before {
      padding-top: 4px;
      content: '//';
      position: absolute;
      left: -10px;
      top: 50%;
      transform: translateY(-50%);
      vertical-align: middle;
    }
  }
  .social-icons {
    line-height: 1;
    $padding-vertical: (($navbar-height - 33px) / 2);
    padding: $padding-vertical $navbar-padding-horizontal;
  }
  // .current-menu-item
  .navbar-nav > .active > a,
  .navbar-nav > .active > a:hover,
  .navbar-nav > .active > a:active {
    background: none;
  }
  .navbar-nav > .active > a:hover {
    color: #424242
  }
}

body.logged-in{
  .navbar-nuitdebout {
         &-fixed {
            position: fixed;
            left: 0px;
            top: 30px;
          }

  }

}

.text-right {
    text-align: right;
}

.navbar-brand {
  padding: (($navbar-height - 50) / 2) $navbar-padding-horizontal;
}

.menu-top {
  > li > a {
    color: #bdbdbd;
    text-transform: uppercase;
    background: none;
  }
}
