.page-header {
  h1, h2, h3 {
    font-family: Roboto;
    font-weight: bold;
  }
}

.page {

  .page__header {
    margin-bottom: 30px;
    > h2 {
      @include title-font;
      margin-top: 0;
    }
  }

  .page__thumbnail {
    padding: 15px 0;
  }

  .wp-post-image {
    @extend .img-responsive;
  }
}

body {
  &.page-template-page-villes {
    #results {
      .panel {
        .list-group-item > i:before {
          vertical-align: middle;
          font-size: 18px;
          line-height: 1;
          margin-right: 5px;
        }
      }
    }
  }
}
