.share-btns{
  padding-top: 5px;
  width:100%;
  .wrap{
    display: inline-block;
    margin-right: 13px;
    margin-top: 6px;
    padding-left: 1em;
    padding-top: 0;
    position: relative;
    visibility: initial;
    float: left;
  }
}


.post-loop-item{
  border-bottom:1px solid $gray-lighter;
  .entry-title{
    font-size: 2em;
    padding-top: 20px;

  }
  .entry-meta{
    border-bottom:1px solid $gray-lighter;
    width:100%;
    padding:0px 0 20px;
    float: left;
    margin-bottom:20px;
    time{
      float:right;
      font-size:14px;
    }
    div.byline{
      float:left;
    }

  }
  img{

    max-width:100%;
  }
}

.city-post {
  h1, h2 {
    @include title-font();
    text-align: center;
    font-size: 45px;
    text-align: center;
    margin-bottom: 30px;
  }

  h3 {
    @include title-font();
    font-size: 30px;
    margin-bottom: 20px;
  }

  h4 {
    text-align: left;
    font-size: 22px;
    margin-bottom: 10px;
  }
}

body.single-post{
  background-color: $gray-lighter;
  .sidebar {
    @include card;
    margin: 30px 0;
  }
}

.post.post--single {

  @include card;
  padding: $padding-base;
  margin: 0;
  margin-bottom: 30px;

  .post__header {

    time.updated {
      color: $gray;
      display: block;
    }

    .wp-post-image {
      width: 100%;
      height: auto;
      margin: 10px 0;
    }
  }

  /**
   * Post style
   * Scoped in post--single but can be generalized
   */
  .entry-title {
    font-size: 35px;
    font-family: "Roboto", serif;

    color: $gray-dark;
    margin: 20px 0;
  }

  .entry-content {
    color: $gray-dark;

    ul > li {
      border: none;
      list-style: disc;
      padding: 0;
      margin-left: 30px;
    }
    p {
      margin-bottom: 25px;
    }
    .size-full {
      max-width: 100%;
    }
  }
  .post-taxonomies{
    margin:1em 0;
    display:block;
    .post-taxonomy{
      color: $gray;
      &.post-taxonomy--post_tag{
          & > a {
            @include tag-link-reverse();
            padding: 0 0.5em;
            border-radius: 11px;
          }
      }
    }

  }

}

article.post.format-standard {
  margin-bottom: 40px;
  header {
    display: table;
    width: 100%;
    .entry-meta,
    .entry-title {
      display: table-cell;
      vertical-align: middle;
      padding: 15px;
    }
    .entry-meta {
      width: 20%;
      border-bottom: 4px solid $light-blue;
    }
    .entry-title {
      font-family: 'Roboto';
      font-weight: bold;
      line-height: 1;
      width: 80%;
      border-bottom: 4px solid $gray-lighter;
      > a {
        color: $brand-primary;
      }
      > a:hover {
        text-decoration: none;
        color: lighten($brand-primary, 20%);
      }
    }
  }
  .entry-summary {
    font-size: 16px;
    border-bottom: 1px dashed $gray-lighter;
    padding: 30px 0 15px;
  }
}
