.share-btns{
  padding-top: 5px;
  width:100%;
  float: left;
  .wrap{
    display: inline-block;
    margin-right: 13px;
    margin-top: 6px;
    padding-left: 1em;
    padding-top: 0;
    position: relative;
    visibility: initial;
    float: left;
  }
}


.post-loop-item{
  border-bottom:1px solid $gray-lighter;
  .entry-title{
    font-size: 2em;
    padding-top: 20px;

  }
  .entry-meta{
    border-bottom:1px solid $gray-lighter;
    width:100%;
    padding:0px 0 20px;
    float: left;
    margin-bottom:20px;
    time{
      float:right;
      font-size:14px;
    }
    div.byline{
      float:left;
    }

  }
  img{

    max-width:100%;
  }
}


body.page-id-480 .section__content {
  direction: rtl;
}


.city-post {
  h1, h2 {
    @include title-font();
    font-size: 45px;
    text-align: center;
    margin-bottom: 30px;
  }

  h3 {
    @include title-font();
    text-align: left;
    font-size: 30px;
    margin-bottom: 20px;
  }

  h4 {
    text-align: left;
    font-size: 22px;
    margin-bottom: 10px;
  }

  // Only the first level list are stylised to display tags
  /* & > ul {

    text-align: center;
    & > li {
      display: inline-block;
      border: none;
      margin: 0;
      padding: 0;

      & > a {
        @include tag-link();
      }
    }
  }
  */

}
body.single-post{
  background-color: $gray-lighter;
}
.post.post--single {

  padding-top: 50px;

  .post__header {
    @include container(950px);

    time.updated {
      color: $gray-light;
      display: block;
    }

    .wp-post-image {
      width: 100%;
      height: auto;
      margin: 10px 0;
    }
  }

  .post__content {
    @include container();

    padding-bottom: 50px;
    border-bottom: 1px solid $gray-light;
  }
  .post__comments {
    @include container();

    padding-top: 50px;
  }

  /**
   * Post style
   * Scoped in post--single but can be generalized
   */
  .entry-title {
    font-size: 35px;
    font-family: "Roboto", serif;

    color: $gray;
    margin: 20px 0;
  }

  .entry-content {
    color: $gray;

    ul > li {
      border: none;
      list-style: disc;
      padding: 0;
      margin-left: 30px;
    }
    p {
      margin-bottom: 25px;
    }
  }
}
