@mixin vertical-align ( $percent: 50% ) {
  position: relative;
  top: $percent;
  -webkit-transform: translateY(-$percent);
  -ms-transform: translateY(-$percent);
  transform: translateY(-$percent);
}

@mixin title-font {
  text-align: center;
  font-family: "Roboto";

  &:first-letter {
    box-shadow:
    0 3px 0 -1px $light-blue, /* to indent the green bottom line with the same color as the background */
    0 3px 0 0 $light-blue,  /* to create a bottom 3px high green line */
    inset 0 -1px 0 0 $light-blue; /* to create the top (1px) of the outline */
  }
}
