@font-face {
  font-family: 'AmaticSC';
  src: url('../fonts/AmaticSC-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AmaticSC';
  src: url('../fonts/AmaticSC-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'socialIcon';
  src: url('../fonts/socialIcon.eot');
  src: url('../fonts/socialIcon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/socialIcon.woff') format('woff'),
        url('../fonts/socialIcon.ttf') format('truetype'),
        url('../fonts/socialIcon.svg#socialIcon') format('svg');

  font-weight: normal;
  font-style: normal;
}

[class*='ic-']:before{
  display: inline-block;
  font-family: 'socialIcon';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
.ic-facebook:before { content: "\e900";}
.ic-github:before { content: "\e901";}
.ic-instagram:before { content: "\e902";}
.ic-periscope:before { content: "\e903";}
.ic-reddit:before { content: "\e904";}
.ic-scoopit:before { content: "\e905";}
.ic-snapchat-plain:before { content: "\e906";}
.ic-snapchat:before { content: "\e907";}
.ic-tumblr:before { content: "\e908";}
.ic-twitter:before { content: "\e909";}
.ic-youtube:before { content: "\e90a";}
.ic-bambuser:before { content: "\e90b";}
