body {
  background: #fff;
  padding-top: 70px;
}

.content {
  margin:0 auto;
  background: #fff;
  max-width:80%;
  padding-top:50px;
  padding-bottom:30px;
}

.mg-top0 {
  margin-top: 0;
}
.padded {
  padding-top: 3em;
  padding-bottom: 3em;
}

.padded-top{
  padding-top: 3em;
}

.padded-inside{
  padding-top: 1em;
  padding-bottom: 1em;
}
.padded-small{
  padding-top: 1em;
  padding-bottom: 1em;
}
.padded-left{
    padding: 1em 2em;
        font-weight: bold;
}
.padded-left-search{
  form{
   margin:0;
    padding:0;
  }
  padding: 1em 2em;
    border-left:2px solid $gray-lighter;
  }


.border-grey{
  border-top:1px solid $gray-lighter;
}

.bg-grey {
  background: $gray-lighter;
}
.bg-dark {
  background: $gray-dark;
  color:#fff;
}
iframe{
  overflow:hidden;
}
