body {
  background: #fff;
  padding-top: 70px;
}

.content {
  margin:0 auto;
  background: #fff;
  max-width:80%;
  padding-top:50px;
  padding-bottom:30px;
}

.padded {
  padding-top: 3em;
  padding-bottom: 3em;
}

.bg-grey {
  background: $gray-lighter;
}
