// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #36474f;
$light-blue:            #0ab8d1;
$link-color:            $light-blue;
$heading-color:         #494849;
$footer-bg:             #36474f;
