@import "../../bower_components/font-awesome/scss/font-awesome";

.nd-navbar {
  background-color: white;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;

  padding: 0 10px;
  position: relative;

  border-bottom: 1px solid $gray-light;

  .nd-navbar__item {
    display: inline-block;
    min-width: 150px;
  }

  .nd-navbar__toggle {
    display: none;
  }

  .nd-navbar__item--logo {
    padding: 10px;
    display: inline-flex;
    align-items: center;
  }

  .nd-navbar__item--navigation {
    text-align: center;
    flex: 1;
  }
  .social-icon-list {
    text-align: right;
  }

  @media (max-width: $screen-sm-max) {
    align-items: center;

    .nd-navbar__item {
      min-width: 80px;
    }
    .nd-navbar__toggle {
      display: inline-block;
    }

    .nd-navbar__item--logo {
      justify-content: center;
      flex: 1;
    }

    .nd-navbar__item--navigation {
      position: fixed;
      top: 0;
      z-index: 102;

      width: 250px;
      left: -250px;

      background-color: white;

      height: 100vh;
      overflow-y: auto;

      transition: transform .3s;
    }

    .nd-navbar__item--navigation.open {
      transform: translateX(250px);
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    }
  }

}



.social-icon-list {
  list-style: none;
  padding: 0;
  min-width: 180px;

  & > li {
    display: inline-block;

  }
  & > li > a {
    color: $gray;
    padding: 10px;


    &:hover, &:active, &:focus {
      color: $gray-dark;
    }
  }

  @media (max-width: $screen-sm-max) {
    display: none;
  }

}



.primary-nav {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;

  & > .menu-item {
    display: inline-block;

    > a {
      display: inline-block;
      border-bottom: 5px solid transparent;
      padding: 10px 30px;

      text-transform: uppercase;

      color: $gray;
    }
    > a:hover, > a:active, > a:focus {
      text-decoration: none;
    }
  }

  @media (max-width: $screen-sm-max) {
    display: block;
    text-align: left;

    & > .menu-item {
      display: block;
      width: 100%;

      &:hover, &.open, &.current-menu-item {
        color: $gray-darker;
      }
    }

    & > .menu-item > a {
      width: 100%;
      padding-bottom: 0;
    }
  }

  @media (min-width: $screen-md-min) {
    & > .menu-item {
      > a {
        font-weight: bold;
      }

      &:hover, &.open, &.current-menu-item:not(.not-display-as-current) {
        > a {
          border-color: $light-blue;
          color: $gray-dark;
        }
      }
    }
  }

}

.mobile-navigation-image {
  display: block;
  width: 100%;
  height: auto;
  @media (min-width: $screen-md-min) {
    display: none;
  }
}


.menu-button {
  display: inline-block;

  padding: 10px 30px;
  font-size: 25px;
  cursor: pointer;

  border-radius: 5px;

  &:active {
    background-color: $gray-lighter;
  }
}

.navbar-nuitdebout-logo {
  width: 50px;
}

.navbar-nuitdebout-bloginfo {
  position: relative;
  display: inline-block;
  white-space: nowrap;

  font-family: 'CommuneB1San31';
  text-transform: uppercase;
  letter-spacing: 1.1px;
  font-size: 32px;
  line-height: 1;

  margin-left: 10px;
  padding: 0;

  color: #111;
  &:before {
    content: '//';
  }
}

.navbar-subnav-list {
  list-style: none;

  & > .menu-item {
    display: inline-block;

    > a {
      display: inline-block;
      padding: 10px 30px;

      &:hover, &:active, &:focus {
        text-decoration: none;
      }
    }

    &.menu-item-has-children > a {
      cursor: text;
      text-align: left;
    }
  }

  & > .menu-item:not(.menu-item-has-children) > a:before {
    @extend .fa;
    @extend .fa-times-circle-o;
    margin-right: 5px;
  }

  @media (min-width: $screen-md-min) {
    & > .menu-item:not(.menu-item-has-children) > a {
      color: $gray-lighter;

      &:hover, &:active, &:focus {
        color: white;
      }
    }

    & > .menu-item.menu-item-has-children > a {
      color: $gray-light;
      font-weight: 300;

      padding-left: 0;
    }

    &.navbar-subnav-list--depth-1 > .menu-item {
      display: block;
      text-align: left;
    }
  }

  @media (max-width: $screen-sm-max) {
    display: block;

    & > .menu-item {
      display: block;

      & > a {
        padding: 7px 20px;
        color: $gray;

        &:hover, &:active, &:focus {
          color: $gray-darker;
        }
      }
    }

    & > .menu-item:not(.menu-item-has-children) > a:before {
      display: none;
    }

    & > .menu-item.menu-item-has-children > a {
      color: $gray-dark;
      font-weight: bold;
    }

    &.navbar-subnav-list--depth-1 {
      padding-left: 0;
      padding-bottom: 10px;
    }

  }
}

.side-nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 101;

  &.closed {
    display: none;
  }
}


@media (min-width: $screen-md-min) {

  .navbar-subnav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: -1;

    background-color: $footer-bg;
    color: white;

    padding: 20px;

    display: flex;
    justify-content: center;

    transform: translateY(-200px);
    transition: transform .3s;
  }

  .menu-item.open {
    .navbar-subnav {
      transform: translateY(0);
    }
  }

}

